@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
body,
html {
	font-family: "Inknut Antiqua", cursive;
	margin: 0;
}

/*
body.is-preload *, body.is-preload *:before, body.is-preload *:after {
-moz-animation: none !important;
-webkit-animation: none !important;
-ms-animation: none !important;
animation: none !important;
-moz-transition: none !important;
-webkit-transition: none !important;
-ms-transition: none !important;
transition: none !important;
}

 */
.i2 {

	filter: blur(5px);
}

/* Content Parallax Section*/
.ParallaxMainContent {
	background-color: #191818;
	color: #e3e4e8;
	position: relative;
	height: 100%;
}

.ParallaxMainContent h3 {
	color: #6C757D;
	text-align: center;
}

/* Video Parallax Section*/
.ParallaxVideo {
	height: 763px;
}

.ParallaxVideo video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	/*  filter: grayscale(100%);*/
	filter: grayscale(100%);
}

#container-random
{
	margin: 1rem;
}

#parallaxRandom {
	height: 650px;
}

.topnav {
	background-color: #191818;
	overflow: hidden;
	position: fixed;
	/*
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	 */
	width: 100%;
	z-index: 1000;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	background-color: #191818;
	text-align: center;
	padding: 17px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.active {
	background-color: #333;
	color: white;
}

.topnav a:hover {
	background-color: #333;
	color: white;
}

.topnav p {
	margin-left: 15px;
	font-size: 17px;
	color: white;
}


/* General Section*/
.container {
	padding: 3rem;
}

.headlines p {
	font-size: 16px;
	text-align: center;
}

footer {
	padding: 1rem;
	text-align: center;
	color: white;
}

footer a {
	text-decoration: none;
	color: gold;
}

footer a:hover {
	text-decoration: none;
	color: yellow;
}

.wrapper-request {
	display: flex;
	flex: 3 3 200px;
	gap: 20em;
	align-content: flex-start;
	justify-content: center; 
	align-items: center; /* Centre horizontalement */
	margin-top: 10em; /* Ajuste l'espace en haut */
}

.wrapper-request #script {
	position: relative;
	top: -8em; /* Remonte l’élément po
}

#request {
    margin-top: 5em; /* Réduction de l’espace trop grand */
    scroll-margin-top: 6em; /* Évite que l’ancre cache le contenu sous la navbar */
}

#script {
    margin-top: 8em; /* Réduction de l’espace trop grand */
    scroll-margin-top: 6em; /* Évite que l’ancre cache le contenu sous la navbar */
}
.wrapper-cgi {
	display: flex;
	justify-content: center; /* Centre verticalement */
    	gap: 13em;
    	align-items: center;
    	justify-content: center;
    /* margin-top: 10em; */
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-around;
}

#delete-link, .upload-button, .delete-button, #cgi-link {
	background-color: transparent;
	border: none;
	position: unset;
	color: #afb0b3;
	font-family: "Inkut Antiqua", cursive;
	text-align: left;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	margin-top: 7em;
}

.upload-button h3, .delete-button h3, #delete-link h3 {
	font-size: 20px;
	text-align: left;
	text-decoration: none;
}

#cgi-link {
	margin-top: -3em;
}

#death { padding-top: 36px; } 

.form-popup {
	display: none; /* Caché par défaut */
	position: fixed; /* Fixé par rapport à l'écran */
	top: 50%; /* Centre verticalement */
	left: 50%; /* Centre horizontalement */
	transform: translate(-50%, -50%); /* Ajuste l'origine pour le centrage parfait */
	border-radius: 5px;
	z-index: 9; /* Assure que l’élément est au-dessus des autres */
}

/* Add styles to the pop up */
.popup-container {
	max-width: 500px;
	padding: 20px;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.popup-container .btn {
	background-color: #04AA6D;
	color: white;
	padding: 4px 24px;
	border: none;
	cursor: pointer;
	margin-top: 12px;
	width: 88px;
	border-radius: 1px;
	box-shadow: inherit;
	color: white;
	opacity: 0.8;
	text-align: left;
	padding-left: 8px;
}

/* Add some hover effects to buttons */
.popup-container .btn-submit:hover,  .btn:hover, .open-button:hover {
	opacity: 1;
}

.close {
	cursor: pointer;
	position: absolute;
	right: 0%;
	padding: 2px 6px;
	transform: translate(0%, -50%);
	top: 20px;
	right: 11px;
	background: none;
	border: none;
	color: grey;
}

.close:hover { background: #bbb;}


/*
.wrapper {
background-image: url("images/bg.png");
box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
padding: 5em 0 4em 0;
text-align: center;
}
 */

.presentation { 
	padding: 3em 0 1em 0;
	text-align: center;
}

#pres-cgi {
	padding: 6em 0 1em 0;
	padding: 6em 0 6em 0;
}

.welcome-header {
	letter-spacing: 8px;
	color: #6C757D;
	font-size: 30px;
}

.welcome-p{
	letter-spacing: 3px;
	color: #afb0b3;
	font-size: 20px;
}

.server-explanation, .server {
	color: #afb0b3;
	margin-top: 3em;
	font-size: 14px;
}

.check-button {
	background-color: #333;
	color: #afb0b3;
	cursor: pointer;
	font-size: 16px;
	border: black;
	padding: 1em;
	margin: 2em;
	border-radius: 4px;
}

.server:hover, .check-button:hover, .card:hover h3, .card:hover p, .card:hover { color: white; }

.flex-container {
	display: flex;
	justify-content: center;
}

.flex-container > div {
	width: 100px;
	line-height: 2px;
	font-size: 14px;
}

.jdufour > a, .ahayon > a, .eltouma > a {
	color: #DEE2E6;	
}

.jdufour > a:hover, .ahayon > a:hover, .eltouma > a:hover {
	color: #6C757D;	
}

#random-page {
	padding: 4em 0 4em 0;
	padding: 1em 0 1em 0;
	text-align: center;
	display: flex;
	flex-direction: column;
    /* flex-wrap: wrap; */
	align-content: stretch;
	justify-content: space-evenly;
	align-items: center;
}

#random-nb {
	color: #afb0b3;	
	margin: 0em;
	font-family: "Inkut Antiqua", cursive;
}

#random-nb-result {
	font-size: 20px;
	color: gold;
	color: #ffd700b5;
}

#hierophant {
	font-size: 18px;
}

.real-sacred-nb {
	font-size: 12px;
}

#random-nb-btn {
	font-size: 13px;
	margin: 1em;
}
