@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");
body,
html {
	font-family: "Inknut Antiqua", cursive;
	margin: 0;
}

/*
body.is-preload *, body.is-preload *:before, body.is-preload *:after {
-moz-animation: none !important;
-webkit-animation: none !important;
-ms-animation: none !important;
animation: none !important;
-moz-transition: none !important;
-webkit-transition: none !important;
-ms-transition: none !important;
transition: none !important;
}

 */

/* Content Parallax Section*/
.ParallaxMainContent {
	background-color: #191818;
	color: #e3e4e8;
	position: relative;
	height: 100%;
}

.ParallaxMainContent h3 {
	color: #6C757D;
	text-align: center;
}

/* Video Parallax Section*/
.ParallaxVideo {
	height: 300px;
	height: 500px;
}

.ParallaxVideo video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	/*  filter: grayscale(100%);*/
	filter: grayscale(100%);
}

.topnav {
	background-color: #191818;
	overflow: hidden;
	position: fixed;
	/*
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	 */
width: 100%;
z-index: 1000;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	background-color: #191818;
	text-align: center;
	padding: 17px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.active {
	background-color: #333;
	color: white;
}

.topnav a:hover {
	background-color: #333;
	color: white;
}

.topnav p {
	margin-left: 15px;
	font-size: 17px;
	color: white;
}


/* General Section*/
.container {
	padding: 3rem;
}

.headlines p {
	font-size: 16px;
	text-align: center;
}

footer {
	padding: 3rem;
	text-align: center;
	color: white;
}

footer a {
	text-decoration: none;
	color: gold;
}

footer a:hover {
	text-decoration: none;
	color: yellow;
}

.wrapper {
	display: flex;
	flex: 3 3 200px;
	gap: 20em;
	margin-top: 6em;
	margin-top: 4em;
	align-content: flex-start;
	justify-content: center; 
}

#delete-link, .upload-button, .delete-button {
	background-color: transparent;
	border: none;
	position: unset;
	color: #afb0b3;
	font-family: "Inkut Antiqua", cursive;
	text-align: left;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
}

.upload-button h3, .delete-button h3, #delete-link h3 {
	font-size: 20px;
	text-align: left;
	text-decoration: none;
}

#death { padding-top: 36px; }

.form-popup {
	display: none; /* Caché par défaut */
	position: fixed; /* Fixé par rapport à l'écran */
	top: 50%; /* Centre verticalement */
	left: 50%; /* Centre horizontalement */
	transform: translate(-50%, -50%); /* Ajuste l'origine pour le centrage parfait */
	border-radius: 5px;
	z-index: 9; /* Assure que l’élément est au-dessus des autres */
}

/* Add styles to the pop up */
.popup-container {
	max-width: 500px;
	padding: 20px;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.popup-container .btn {
	background-color: #04AA6D;
	color: white;
	padding: 4px 24px;
	border: none;
	cursor: pointer;
	margin-top: 12px;
	width: 88px;
	border-radius: 1px;
	box-shadow: inherit;
	color: white;
	opacity: 0.8;
	text-align: left;
	padding-left: 8px;
}

/* Add some hover effects to buttons */
.popup-container .btn-submit:hover,  .btn:hover, .open-button:hover {
	opacity: 1;
}

.close {
	cursor: pointer;
	position: absolute;
	right: 0%;
	padding: 2px 6px;
	transform: translate(0%, -50%);
	top: 20px;
	right: 11px;
	background: none;
	border: none;
	color: grey;
}

.close:hover { background: #bbb;}


/*
.wrapper {
background-image: url("images/bg.png");
box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
padding: 5em 0 4em 0;
text-align: center;
}
 */

.presentation { /*, .welcome-header {*/ 
	padding: 4em 0 4em 0;
	padding: 1em 0 1em 0;
	text-align: center;
}

.welcome-header {
	letter-spacing: 8px;
	color: #6C757D;
	font-size: 40px;
	font-size: 30px;
}

.welcome-p{
	letter-spacing: 4px;
	letter-spacing: 3px;
	color: #afb0b3;
	font-size: 20px;
}

.server-explanation, .server {
	color: #afb0b3;
	margin-top: 3em;
	font-size: 14px;
}

.check-button {
	color: #afb0b3;
	background-color: #333;
	color: #afb0b3;
	cursor: pointer;
	font-size: 14px;
	border: black;
	padding: 1em;
	margin: 2em;
	border-radius: 4px;
}

.server:hover, .check-button:hover, .card-title:hover { color: white; }

.flex-container {
  display: flex;
	justify-content: center;
}

.flex-container > div {
  width: 100px;
  line-height: 2px;
  font-size: 14px;
}

.jdufour > a, .ahayon > a, .eltouma > a {
	color: #DEE2E6;	
}

.jdufour > a:hover, .ahayon > a:hover, .eltouma > a:hover {
	color: #6C757D;	
}
